<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="com.redhat.summit.demo.datagrid.client">
    <resources>
        <resource-root path="dv-demo-domain-0.0.1-SNAPSHOT.jar" />
        <!-- Insert resources here -->
    </resources>

    <dependencies>
            <module name="org.infinispan.client.hotrod" slot="jdg-6.6" optional="true" services="export" />
            <module name="org.infinispan.protostream" slot="jdg-6.6" services="export" />
            <module name="org.jboss.teiid.resource-adapter.infinispan.dsl" export="true" />
    </dependencies>
</module>
